<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <TITLE>About Node Weather</TITLE>
    <link rel="icon" href="/img/site-ico.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <META NAME="Author" CONTENT="{{name}}">
</HEAD>

<BODY>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Sean Brasher. It uses data from mapbox.com and weatherstack.com</p>
        About This App....<br/>
        About This App....<br/>
        About This App....<br/>
        About This App....<br/>
        About This App....<br/>
    </div>

    {{>footer}}
</BODY>
</HTML>
