<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <TITLE>Node Weather Help</TITLE>
    <link rel="icon" href="/img/site-ico.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <META NAME="Author" CONTENT="{{name}}">
</HEAD>

<BODY>
    <div class="main-content">
        {{>header}}

        Help Content....<br/>
        Help Content....<br/>
        Help Content....<br/>
        Help Content....<br/>
        Help Content....<br/>

    </div>

    {{>footer}}

</BODY>
</HTML>
